#main-footer {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%; 
    height: 6em;

    padding: 0.5em;

    /*footer background*/
    background-color: whitesmoke;

}

        .footer-card {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            grid-area: 1/3/2/3;
        }

        .footer-copyright {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            grid-area: 3/3/3/3;
        }

                .github {
                    padding: 0px;
                }

                .linkedin {
                    padding: 2px;
                }